Repository appuio/charts, pull requests merged in 2021-11, with the labels that each got.

#374 Configure changelog generator
  .github/PULL_REQUEST_TEMPLATE.md
  .github/changelog-configuration.json
  .github/changelog.sh
  .github/workflows/changelog.yml
  .github/workflows/release.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  renovate.json
Labels: change

#367 Make spilling.max.file.length configurable
  appuio/stardog/Chart.yaml
  appuio/stardog/README.gotmpl.md
  appuio/stardog/README.md
  appuio/stardog/requirements.lock
  appuio/stardog/requirements.yaml
  appuio/stardog/templates/configmap.yaml
  appuio/stardog/values.yaml
Labels: enhancement, chart/stardog

#376 Add CODEOWNERS file
  CODEOWNERS
Labels: change

#377 [stardog] Deduplicated license expiry alerts
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/templates/monitoring/stardog-rules.yaml
Labels: bug, chart/stardog
