Repository appuio/charts, pull requests merged in 2022-02, with the labels that each got.

#388 Upgrade cloud-portal version to `v0.0.2`
  appuio/cloud-portal/Chart.yaml
  appuio/cloud-portal/README.md
  appuio/cloud-portal/values.yaml
Labels: dependency, chart/cloud-portal

#390 Upgrade cloud-portal to v0.1.0
  appuio/cloud-portal/Chart.yaml
  appuio/cloud-portal/README.md
  appuio/cloud-portal/values.yaml
Labels: dependency, chart/cloud-portal

#393 Remove deprecated parameter and bump haproxy version
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/_helpers.tpl
  appuio/haproxy/values.yaml
Labels: chart/haproxy, change

#391 [stardog] Make ZooKeeper session timeout configurable
  appuio/stardog/Chart.yaml
  appuio/stardog/README.gotmpl.md
  appuio/stardog/README.md
  appuio/stardog/templates/configmap.yaml
  appuio/stardog/values.yaml
Labels: enhancement, chart/stardog

#395 Fix stardog prometheus rule
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/templates/monitoring/stardog-rules.yaml
Labels: bug, chart/stardog

#394 Add additional parameter to control if metrics port should be exposed
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/service.yaml
  appuio/haproxy/values.yaml
Labels: chart/haproxy, change

#396 Overhaul metrics exposure for redis and mariadb
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.gotmpl.md
  appuio/haproxy/README.md
  appuio/haproxy/templates/_helpers.tpl
  appuio/haproxy/templates/configmap-galera.yaml
  appuio/haproxy/templates/configmap-galerak8s.yaml
  appuio/haproxy/templates/service.yaml
  appuio/haproxy/values.yaml
Labels: enhancement, chart/haproxy

#397 Fix typo in template code
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/service.yaml
Labels: bug, chart/haproxy

#398 Add missing metrics-backend service
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/metrics-backend-svc.yaml
Labels: bug, chart/haproxy

#399 Fix typo in serviceType
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/metrics-backend-svc.yaml
Labels: bug, chart/haproxy

#400 Change label for metrics service
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/metrics-backend-svc.yaml
Labels: bug, chart/haproxy
