Repository appuio/charts, pull requests merged in 2022-04, with the labels that each got.

#411 Update helm-docs to v1.8.1
  Makefile
Labels: dependency

#410 [HAProxy] Add check option to metrics backends
  README.md
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/_helpers.tpl
Labels: bug, chart/haproxy

#413 Add correct backend check for the metrics backend
  README.md
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/_helpers.tpl
Labels: bug, chart/haproxy

#414 Add missing namespace to the metrics backend address
  README.md
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/_helpers.tpl
Labels: bug, chart/haproxy, breaking

#415 Fix wrong scope for .Release.Namespace variable
  README.md
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/_helpers.tpl
Labels: bug, chart/haproxy

#418 Configure autopurge for ZooKeeper
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.gotmpl.md
  appuio/stardog/README.md
  appuio/stardog/values.yaml
Labels: enhancement, chart/stardog
