Repository appuio/charts, pull requests merged in 2022-03, with the labels that each got.

#401 Fix wrong variable usage for haproxy galera config
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/configmap-galera.yaml
  appuio/haproxy/templates/deployment.yaml
Labels: bug, chart/haproxy

#403 Format Readme with helm-docs
  appuio/openshift-route/Chart.yaml
  appuio/openshift-route/README.gotmpl.md
  appuio/openshift-route/README.md
  appuio/openshift-route/values.yaml
Labels: chart/openshift-route, documentation

#405 Upgrade Stardog to 7.9.0
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/values.yaml
Labels: enhancement, chart/stardog

#406 Bump `cloud-portal` release to `v0.2.0`
  appuio/cloud-portal/Chart.yaml
  appuio/cloud-portal/README.md
  appuio/cloud-portal/values.yaml
Labels: dependency, chart/cloud-portal

#407 Generate list of charts and download counter in the README
  Makefile
  README.gotmpl
  README.md
  readme.go
Labels: change

#409 Update cloud-portal to v0.2.1
  README.md
  appuio/cloud-portal/Chart.yaml
  appuio/cloud-portal/README.md
  appuio/cloud-portal/values.yaml
Labels: dependency, chart/cloud-portal

#408 Update K8up to v2.1.2
  README.md
  appuio/k8up/Chart.yaml
  appuio/k8up/README.md
  appuio/k8up/rbac-kustomize/kustomization.yaml
  appuio/k8up/values.yaml
Labels: chart/k8up, dependency
