Repository appuio/charts, pull requests merged in 2023-01, with the labels that each got.

#453 [stardog] Pin bitnami charts index to version before Zookeeper 8.1.2 got removed
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/Makefile
  appuio/stardog/README.md
  appuio/stardog/requirements.lock
  appuio/stardog/requirements.yaml
Labels: chart/stardog, dependency

#451 feat(signalilo): add ingress support
  README.md
  appuio/signalilo/Chart.yaml
  appuio/signalilo/README.gotmpl.md
  appuio/signalilo/README.md
  appuio/signalilo/templates/ingress.yaml
  appuio/signalilo/values.yaml
Labels: enhancement, chart/signalilo

#455 Upgrade Stardog to 8.2.1
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/values.yaml
Labels: chart/stardog, change
