Repository appuio/charts, pull requests merged in 2023-07, with the labels that each got.

#484 Update signalilo to v0.14.0
  README.md
  appuio/signalilo/Chart.yaml
  appuio/signalilo/README.md
  appuio/signalilo/values.yaml
Labels: chart/signalilo, dependency

#485 Support exposing a filterproxy for non k8s galera
  README.md
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/_helpers.tpl
Labels: enhancement, chart/haproxy

#486 Fix haproxy galera metrics endpoint
  README.md
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/_helpers.tpl
Labels: bug, chart/haproxy

#488 New code owner for Stardog charts
  CODEOWNERS
Labels: chart/stardog-userrole-operator, chart/stardog, documentation

#487 Upgrade Stardog to 9.1.0
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/values.yaml
Labels: enhancement, chart/stardog
