Repository appuio/charts, pull requests merged in 2023-02, with the labels that each got.

#456 fix(signalilo): ingress support
  README.md
  appuio/signalilo/Chart.yaml
  appuio/signalilo/README.gotmpl.md
  appuio/signalilo/README.md
  appuio/signalilo/templates/ingress.yaml
  appuio/signalilo/values.yaml
Labels: bug, chart/signalilo

#454 Make Signalilo service account configurable
  README.md
  appuio/signalilo/Chart.yaml
  appuio/signalilo/README.gotmpl.md
  appuio/signalilo/README.md
  appuio/signalilo/templates/_helpers.tpl
  appuio/signalilo/templates/deployment.yaml
  appuio/signalilo/templates/serviceaccount.yaml
  appuio/signalilo/values.yaml
Labels: enhancement, chart/signalilo

#458 Add option to expose a filterproxy
  README.md
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.gotmpl.md
  appuio/haproxy/README.md
  appuio/haproxy/templates/_helpers.tpl
  appuio/haproxy/values.yaml
Labels: enhancement, chart/haproxy

#460 Upgrade Stardog to 8.2.2
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/values.yaml
Labels: enhancement, chart/stardog
