Repository appuio/charts, pull requests merged in 2023-03, with the labels that each got.

#462 [stardog] Use networking.k8s.io/v1 ingress
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/templates/ingress.yaml
Labels: chart/stardog, change

#461 Replace/remove deprecated Ingress api versions.
  README.md
  appuio/snappass/Chart.yaml
  appuio/snappass/README.md
  appuio/snappass/templates/ingress.yaml
Labels: chart/snappass, change, breaking

#467 Stardog/pdb
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.gotmpl.md
  appuio/stardog/README.md
  appuio/stardog/templates/pdb.yaml
Labels: enhancement

#468 Safer PDBs (only for specific instance and replicaCount >1)
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/templates/pdb.yaml
Labels: bug, chart/stardog
