Repository appuio/charts, changes with the owners that CODEOWNERS names for each.
All owners: @appuio/schedar, @simu, @appuio/pollux, @appuio/nunki, @ludovicm67

CODEOWNERS:

# Code owners of APPUiO Helm charts

# As a Code owner, you are requested for Pull Request reviews

# Used by VSHN as part of product offering
/appuio/mariadb-galera    @appuio/schedar
/appuio/redis             @appuio/schedar
/appuio/generic           @appuio/schedar
/appuio/haproxy           @appuio/schedar

# Other charts
/appuio/signalilo         @simu
/appuio/maxscale          @appuio/pollux
/appuio/exoip             @appuio/pollux

# Stardog
/appuio/stardog                    @appuio/nunki
/appuio/stardog-userrole-operator  @appuio/nunki


# Contributed charts
/appuio/data-cube-curation @ludovicm67
/appuio/trifid             @ludovicm67

Upgrade Stardog to 10.2.1
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/values.yaml
Owners: @appuio/nunki

Upgrade Stardog to 10.2.1 (#513)
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/values.yaml
Owners: @appuio/nunki

Update index.yaml
  index.yaml
Owners: none

Update to Stardog 10.2.2 chart version 0.26.5
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/values.yaml
Owners: @appuio/nunki

Update to Stardog 10.2.2 chart version 0.26.5 (#518)
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/values.yaml
Owners: @appuio/nunki

Update index.yaml
  index.yaml
Owners: none

Add TLS config for redis 7.2
  .github/workflows/lint.yml
  .github/workflows/test.yml
  README.md
  appuio/haproxy-2.5.1.tgz
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/configmap-redisk8s.yaml
  appuio/haproxy/values.yaml
Owners: @appuio/schedar

Update index.yaml
  index.yaml
Owners: none

Fix recurring errors when using TLS/SSL
  README.md
  appuio/haproxy-2.5.1.tgz
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/configmap-redisk8s.yaml
Owners: @appuio/schedar

Update haproxy chart to support mariadb-operator
  README.md
  appuio/haproxy-2.5.1.tgz
  appuio/haproxy/Chart.yaml
  appuio/haproxy/Dockerfile
  appuio/haproxy/README.gotmpl.md
  appuio/haproxy/README.md
  appuio/haproxy/templates/_helpers.tpl
  appuio/haproxy/templates/configmap-mariadb-operator.yaml
  appuio/haproxy/values.yaml
Owners: @appuio/schedar

Update index.yaml
  index.yaml
Owners: none

Fix missing configuration for mariadb-operator
  README.md
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/configmap-galera-checkscript.yaml
  appuio/haproxy/templates/configmap-mariadb-operator.yaml
  appuio/haproxy/templates/deployment.yaml
Owners: @appuio/schedar

Update index.yaml
  index.yaml
Owners: none

Fix other missing configs and config errors
  README.md
  appuio/haproxy/Chart.yaml
  appuio/haproxy/README.md
  appuio/haproxy/templates/_helpers.tpl
  appuio/haproxy/templates/metrics-backend-svc.yaml
Owners: @appuio/schedar

Update index.yaml
  index.yaml
Owners: none

set audit log type to json in order for it to be human readable
  appuio/stardog/files/stardog.properties
Owners: @appuio/nunki

Fix set logging.audit.type=json
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/files/stardog.properties
Owners: @appuio/nunki

Fix set logging.audit.type=json
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/files/stardog.properties
Owners: @appuio/nunki

chore: update chart version to 0.26.6
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
Owners: @appuio/nunki

feat: allow to use a fork of this repo
  .github/workflows/release.yml
Owners: none

chore: update helm/chart-releaser-action to 1.7.0
  .github/workflows/release.yml
Owners: none

feat: allow to run release.yml on workflow dispatch
  .github/workflows/release.yml
Owners: none

Update index.yaml
  index.yaml
Owners: none

feat: allow to use a fork of this repo
  .github/workflows/release.yml
Owners: none

chore: update helm/chart-releaser-action to 1.7.0
  .github/workflows/release.yml
Owners: none

feat: allow to run release.yml on workflow dispatch
  .github/workflows/release.yml
Owners: none

feat: allow to run release.yml on workflow dispatch
  .github/workflows/release.yml
Owners: none

feat: allow to use a fork of this repo
  .github/workflows/release.yml
Owners: none

chore: update helm/chart-releaser-action to 1.7.0
  .github/workflows/release.yml
Owners: none

Update index.yaml
  index.yaml
Owners: none

fix: move crds in correct directory for stardog-userrole-operator
  README.md
  appuio/stardog-userrole-operator/Chart.yaml
  appuio/stardog-userrole-operator/README.md
  appuio/stardog-userrole-operator/crds/databases.yaml
  appuio/stardog-userrole-operator/crds/organizations.yaml
  appuio/stardog-userrole-operator/crds/stardoginstance.yaml
  appuio/stardog-userrole-operator/crds/stardogrole.yaml
  appuio/stardog-userrole-operator/crds/stardoguser.yaml
Owners: @appuio/nunki

fix: move crds in correct directory for stardog-userrole-operator
  README.md
  appuio/stardog-userrole-operator/Chart.yaml
  appuio/stardog-userrole-operator/README.md
  appuio/stardog-userrole-operator/crds/databases.yaml
  appuio/stardog-userrole-operator/crds/organizations.yaml
  appuio/stardog-userrole-operator/crds/stardoginstance.yaml
  appuio/stardog-userrole-operator/crds/stardogrole.yaml
  appuio/stardog-userrole-operator/crds/stardoguser.yaml
Owners: @appuio/nunki

Update index.yaml
  index.yaml
Owners: none

stardog: also make keep_firing_for configurable for alerts
  appuio/stardog/templates/monitoring/stardog-rules.yaml
  appuio/stardog/values.yaml
Owners: @appuio/nunki

stardog: make all for expressions of alerts configurable
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/templates/monitoring/stardog-rules.yaml
  appuio/stardog/values.yaml
Owners: @appuio/nunki

Update index.yaml
  index.yaml
Owners: none

Update index.yaml
  index.yaml
Owners: none

stardog: fix wrong newline removal in stardog-rules.yaml
  README.md
  appuio/stardog/Chart.yaml
  appuio/stardog/README.md
  appuio/stardog/templates/monitoring/stardog-rules.yaml
  appuio/stardog/test/main_test.go
  appuio/stardog/test/smoke_test.go
Owners: @appuio/nunki

CI: run lint and test on all branches
  .github/workflows/lint.yml
  .github/workflows/test.yml
Owners: none

update go to 1.25.5
  go.mod
Owners: none
